<section class="hero is-primary"
  style="background-image: url('https://www.fnbzambia.co.zm/00Assets/zm/images/insurance/bancassurance/landing.jpg')">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Leaderboard
      </h1><br />
      <h2 class="category">
        See who is on top of the eQuiz
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="columns">
            <div class="column is-1">1.</div>
            <div class="column">John Doe</div>
            <div class="column is-3">102</div>
          </div>

        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9"
                style="background-image: url('https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/01_bg.jpg'); background-size: cover; border-radius: 20px;">


              </figure>
            </div>
            <div class="card-content">

              <div class="content">
                <div class="columns">


                  <div class="column">
                    <img src="https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/thumb.png"
                      alt="Placeholder image">
                    <a href="" class="category">Borrow</a>
                  </div>
                  <div class="column"> <img
                      src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF15-switch/thumbnail.png"
                      alt="Placeholder image">
                    <a href="" class="category">Transact</a>
                  </div>
                  <div class="column"><img
                      src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF07-atm/Thumb1.png"
                      alt="Placeholder image">
                    <a href="" class="category">Invest</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
