<section class="hero is-primary"
  style="background-image: url('https://www.fnbzambia.co.zm/00Assets/zm/images/insurance/bancassurance/landing.jpg')">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Feedback
      </h1><br />
      <h2 class="category">
        Let us know what you think
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"> </div>
        <div class="column"> <textarea class="textarea" placeholder="Enter your feedback"></textarea> <br />
          <a href="" class="button">Send feedback</a></div>
        <div class="column"> </div>


      </div>
    </div>
  </div>
</section>
