<section class="hero is-primary"
  style="background-image: url('https://www.fnbzambia.co.zm/00Assets/zm/images/insurance/bancassurance/landing.jpg')">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Daily eQuiz
      </h1><br />
      <h2 class="subtitle">
        1. How do access geo payments?
      </h2>
      <p>Please select an option to answer</p>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">

      <h2 class="subtitle">1. The FNB APP</h2>
      <h2 class="subtitle">2. FNB.CO.ZA</h2>
      <h2 class="subtitle">3. USSD Cellphone banking</h2>

      <br />
      <button class="button">Next</button>
    </div>
  </div>
</section>
