<section class="hero is-small is-primary is-bold" style="background:#00A9AC;">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title" [routerLink]="['/home']" routerLinkActive="router-link-active"  >
            Learning Centre
          </h1>
        </div>
        <div class="column is-1"><a routerLink="/feedback">Feedback</a></div>
        <div class="column is-1"><a href="" class="" routerLink="/register">Register</a></div>
        
        <div class="column"><a href="" class=" " routerLink="/home">Home</a></div>

        <div *ngIf=!globals.isLoggedIn>
                <div class="column"><a href="" class=" " routerLink="/login">Login</a></div>
        </div>

        <div *ngIf=globals.isLoggedIn>
            <div class="column"><a href="" class=" " routerLink="/leaderboard">Account</a></div>
        </div>
              


      </div>


    </div>
  </div>
</section>

<router-outlet>
</router-outlet>