<div class="columns ">


</div>
<section class="hero is-small is-primary is-bold" style="background:#00A9AC; height:200px;">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <h1 class="title">
            Learning Centre
          </h1>
        </div>
         <div class="column is-1"><a href="">Feedback</a></div>
        <div class="column is-1"><a href="" class="">Register</a></div>
        <div class="column">
          <input type="text" class="" placeholder="username"/>
          <br/><input type="password" placeholder="password" class="" />
          <a href="" class=" " >Login</a></div>
      </div>


    </div>
  </div>
</section>
<div class="columns" style="margin-top: -100px;">
  <div class="column is-3"></div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9"
          style="background-image: url('https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/01_bg.jpg'); background-size: cover; border-radius: 20px;">


        </figure>
      </div>
      <div class="card-content">

        <div class="content">
          <div class="columns">
            <div class="column">
              <img src="https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/thumb.png"
                alt="Placeholder image">
              <a href="" class="category">Borrow</a>
            </div>
            <div class="column"> <img
                src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF15-switch/thumbnail.png"
                alt="Placeholder image">
              <a href="" class="category">Transact</a>
            </div>
            <div class="column"><img src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF07-atm/Thumb1.png"
                alt="Placeholder image">
              <a href="" class="category">Invest</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9"
          style="background-image: url('https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/atm-cash-deposit/01A.jpg'); background-size: cover; border-radius: 20px;">


        </figure>
      </div>
      <div class="card-content">

        <div class="content">
          <div class="columns">
            <div class="column">
              <img src="https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/thumb.png"
                alt="Placeholder image">
              <a href="" class="category">Borrow</a>
            </div>
            <div class="column"> <img
                src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF15-switch/thumbnail.png"
                alt="Placeholder image">
              <a href="" class="category">Transact</a>
            </div>
            <div class="column"><img src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF07-atm/Thumb1.png"
                alt="Placeholder image">
              <a href="" class="category">Invest</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3"></div>
</div>

