<br/><br/>

<div class="columns">
  <div class="column is-3"></div>
  <div class="column">



      <div class="field has-addons">

        <p class="control is-expanded">
          <input class="input" type="text"  [(ngModel)]="username" placeholder="Search for product">
        </p>
        <p class="control">
          <input class="button" (click)='search()' value="Search for Product">
        </p>
      </div>

      <div class="card" *ngIf="response">
        <header class="card-header">
          
          <p class="card-header-title">
            {{response.productName}}
          </p>

        </header>
        <div style=" margin : 0 auto; width: 151px;">
          <img src="src/assets/images/{{response.productName | lowercase}}.png" style="width:220px; height:110px;">
        </div>
        <div class="card-content">
          <div class="content">
            {{response.Description}}
           <!-- <a href="#">{{response.username}}</a>. <a href="#">#css</a> <a href="#">{{response.phone}}</a>-->
            <br>
           
          </div>
        </div>
        <footer class="card-footer" >

          <a href='{{response.productName | lowercase}}' class="card-footer-item">learn more about this product</a>
         <!--<a routerLink='{{response.productName | lowercase}}quiz' class="card-footer-item">Take a Quiz</a>-->

        </footer>
      </div>
    <div class="card">

      <div class="card-content">

        <div class="content">

          <div class="columns">
            <div *ngIf=!globals.isLoggedIn class="column">
              <img src="src/ebucks.icon.xhdpi.png" alt="Placeholder image"><br/>
              <a href="" class="category" routerLink="/ebucks">eBucks</a>
            </div>
            <div *ngIf=globals.isLoggedIn class="column">
                <img src="src/ebucks.icon.xhdpi.png" alt="Placeholder image" style="filter:grayscale(100%)"><br/>
                <a href="" class="category" routerLink="/ebucks">eBucks</a>
            </div>

            <div class="column">
              <img src="src/geopayments.icon.xhdpi.png" alt="Placeholder image"><br />
              <a href="" class="category" routerLink="/payment">Payments</a>
            </div>            
                        
            <div *ngIf=!globals.isLoggedIn class="column"><img src="src/accounts.v1.icon.xhdpi.png" alt="Placeholder image"><br/>
              <a href="" class="category" routerLink="/private">Accounts</a>
            </div>
            <div *ngIf=globals.isLoggedIn class="column"><img src="src/accounts.v1.icon.xhdpi.png" style="filter:grayscale(100%)" alt="Placeholder image"><br/>
              <a href="" class="category" routerLink="/private">Accounts</a>
            </div>       

          </div>

          <div class="columns">
            <div class="column"> <img src="src/homeloans.default.icon.v1.xhdpi.png" alt="Placeholder image"><br/>
            <a href="" class="category" routerLink="/nav">Nav</a>
            </div>
            <div class="column"> <img src="src/ssa.loans.personalloan.xhdpi.png" alt="Placeholder image"><br />
              <a href="" class="category" routerLink="/borrow">Borrow</a>
            </div>
            <div class="column"><img src="src/account.ewallet.iconv3.xhdpi.png" alt="Placeholder image"><br />
              <a href="" class="category" routerLink="/invest">Invest</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3"></div>
</div>
