<br/><br/>

<div class="columns">
  <div class="column is-3"></div>
  <div class="column">



      <div class="field has-addons">

        <p class="control is-expanded">
          <input class="input" type="text"  [(ngModel)]="username" placeholder="Amount of money">
        </p>
        <p class="control">
          <input class="button" (click)='search()' value="Search for Product">
        </p>
      </div>

      <div class="card" *ngIf="response">
        <header class="card-header">
          <p class="card-header-title">
            {{response.productName}}
          </p>

        </header>
        <div class="card-content">
          <div class="content">
            {{response.Description}}
           <!-- <a href="#">{{response.username}}</a>. <a href="#">#css</a> <a href="#">{{response.phone}}</a>-->
            <br>
            <time datetime="2016-1-1">{{response.website}}</time>
          </div>
        </div>
        <footer class="card-footer" >

          <a href='{{response.productName | lowercase}}' class="card-footer-item">learn more about product</a>
          <a routerLink="/daily_quiz" class="card-footer-item">Take a Quiz</a>

        </footer>
      </div>
    <div class="card">

      <div class="card-content">

        <div class="content">

          <div class="columns">
            <div class="column">
              <img src="src/ebucks.icon.xhdpi.png" alt="Placeholder image"><br/>
              <a href="" class="category" routerLink="/learn-more-ebucks">eBucks</a>
            </div>
            <div class="column">
              <img src="src/geopayments.icon.xhdpi.png" alt="Placeholder image"><br />
              <a href="" class="category" routerLink="/learn-more-payments">Payments</a>
            </div>            
            <div *ngIf=!globals.isLoggedIn class="column"><img src="src/accounts.v1.icon.xhdpi.png" alt="Placeholder image"><br/>
              <a href="" class="category" routerLink="/learn-more-accounts">Accounts</a>
            </div>
            <div *ngIf=globals.isLoggedIn class="column"><img src="src/accounts.v1.icon.xhdpi.png" style="filter:grayscale(100%)" alt="Placeholder image"><br/>
              <a href="" class="category" routerLink="/learn-more-accounts">Accounts</a>
            </div>       
          </div>

          <div class="columns">
            <div class="column"> <img src="src/homeloans.default.icon.v1.xhdpi.png" alt="Placeholder image"><br/>
            <a href="" class="category" routerLink="/learn-more-nav">Nav</a>
            </div>
            <div class="column"> <img src="src/ssa.loans.personalloan.xhdpi.png" alt="Placeholder image"><br />
              <a href="" class="category" routerLink="/learn-more-borrow">Borrow</a>
            </div>
            <div class="column"><img src="src/account.ewallet.iconv3.xhdpi.png" alt="Placeholder image"><br />
              <a href="" class="category" routerLink="/learn-more-invest">Invest</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3"></div>
</div>
