<div class="columns ">


</div>
<section class="hero is-small is-primary is-bold" style="background:#00A9AC;">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title">
            Learning Centre
          </h1>
        </div>
        <div class="column is-1"><a href="">Feedback</a></div>
        <div class="column is-1"><a href="" class="">Register</a></div>
        <div class="column">
      <a href="" class=" ">Login</a></div>
      </div>


    </div>
  </div>
</section>
<br /><br />

<div class="columns">
  <div class="column is-3"></div>
  <div class="column">
      <div class="field has-addon">
        <div class="control">
          <input class="input" type="text" placeholder="Find a repository">
        </div>

      </div>
    <div class="card">

      <div class="card-content">

        <div class="content">

          <div class="columns">
            <div class="column">
              <img src="https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/thumb.png"
                alt="Placeholder image"><br/>
              <a href="" class="category">Borrow</a>
            </div>
            <div class="column"> <img
                src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF15-switch/thumbnail.png"
                alt="Placeholder image"><br/>
              <a href="" class="category">Transact</a>
            </div>
            <div class="column"><img src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF07-atm/Thumb1.png"
                alt="Placeholder image"><br/>
              <a href="" class="category">Invest</a>
            </div>
              <div class="column"><img src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/2019/BF01-Revamp_2_3_WhatsNew/Thumbnail.png"
                  alt="Placeholder image"><br />
                <a href="" class="category">Invest</a>
              </div>
          </div>

          <div class="columns">
            <div class="column">
              <img src="https://www.fnbzambia.co.zm/00Assets/zm/images/promotions/bill-payments/thumb.png"
                alt="Placeholder image"><br />
              <a href="" class="category">Borrow</a>
            </div>
            <div class="column"> <img src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF15-switch/thumbnail.png"
                alt="Placeholder image"><br />
              <a href="" class="category">Transact</a>
            </div>
            <div class="column"><img src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/BF07-atm/Thumb1.png"
                alt="Placeholder image"><br />
              <a href="" class="category">Invest</a>
            </div>
            <div class="column"><img
                src="https://www.fnbzambia.co.zm/00Assets/zm/images/banners/2019/BF01-Revamp_2_3_WhatsNew/Thumbnail.png"
                alt="Placeholder image"><br />
              <a href="" class="category">Invest</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="column is-3"></div>
</div>
